$padding: 8px;
$margin: 8px;

$radius: 4px;

$green-bg: #26ae68;
$green-bg-hover: #31c375;

$radius: 4px;

button {
    padding: 10px 30px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 1000px;
    cursor: pointer;
    background: white;
    color: #3e64ea;
    border: 1px solid #3e64ea;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    margin: 10px;
    transition: 0.15s all ease-out;
  };
  button:hover {
    background: #3e64ea;
    color: white;
    transition: 0.2s all ease-in;
  };